<!DOCTYPE html>
<html ng-app="tinder">
<head>
	<title>Sean Baillargeon</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"> </script>
	<script type="text/javascript" src="main.js"> </script>
</head>
<body ng-controller="profile">
	<h1>Tinder</h1>

	<div><img src="sean.jpg"></div>

	<h2>Sean Baillargeon</h1>

	<h3>Hobbies</h3>
	<div>
	<p ng-bind="userData[0]" ng-click='modifyData(0, $event)'>{{userData[0]}}</p>
	<textarea ng-model="userData[0]" ng-show='displayTextarea[0]' ng-blur='doneEditing(0)'></textarea>
	</div>
	
	<h3>What I Love About Myself</h3>
	<div>
	<p ng-bind="userData[1]" ng-click='modifyData(1, $event)'>{{userData[1]}}</p>
	<textarea ng-model="userData[1]" ng-show='displayTextarea[1]' ng-blur='doneEditing(1)'>{{userData[1]}}</textarea>
	</div>
	
	<h3>Why You Should Date Me</h3>
	<div>
	<p ng-bind="userData[2]" ng-click='modifyData(2, $event)'>{{userData[2]}}</p>
	<textarea ng-model="userData[2]" ng-show='displayTextarea[2]' ng-blur='doneEditing(2)'>{{userData[2]}}</textarea>
	</div>

</body>
</html>